.graph-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  margin: 0 4em;
}

@media all and (max-width: 480px) {
  .graph-info span,
  .graph-info i {
    font-size: 0.8rem;
    padding: 2px;
    margin: 0px;
  }
}
