.graph-container {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  -ms-box-orient: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  margin: 0 4em;
}

.graph-info {
  align-self: center;
  margin: 1em;
  color: #FFFFFF;
  text-align: center;
}
