unit-container {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  flex-direction: row;
  -ms-box-orient: center;
  justify-content: center;
  -webkit-justify-content: center;
  border-radius: 8%;
  padding: 2px;
}

.unit-value {
  padding: 8px;
  margin: 0px 2px;
  border-radius: 8%;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
}

.unit-value:hover {
  transition: all 0.3s;
}

.active-unit {
  font-weight: bold;
}
